<div class="container">
  <!-- Caso a lista de usuários esteja vazia-->
  <p *ngIf="Usuario.length <= 0" class="no-data text-center">
    Não existem usuários!
  </p>

  <!--Lista de Usuários-->
  <table class="table table-bordered" *ngIf="Usuario.length > 0">
    <thead class="table-success">
      <tr>
        <th scope="col">E-mail</th>
        <th scope="col">Perfil</th>
        <th scope="col">Login</th>
        <th scope="col">Nº de Denúncias</th>
        <th scope="col"> &nbsp; </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of Usuario; let i = index">
        <th scope="row">{{usuario.email}}</th>
        <td>{{usuario.perfil}}</td>
        <td>{{usuario.tipoLogin}}</td>
        <td>{{usuario.contadorDenuncia}}</td>
        <td class="text-center edit-block">
          <span class="edit" (click)="addBlacklist(usuario, i)">
            <button mat-icon-button aria-label="Bloquear">
              <mat-icon>block</mat-icon>
            </button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
