table {
  margin-left: 80px;
  width: 100%;
  margin-right: 80px;
}

th {
  font-size: 18px;
  color: #12394F;
}

td{
  color: grey;
}

.user {
  width: 300px;
}

.not-email {
  width: 240px;
  justify-content: center;
  align-self: center;
  text-align: center;
}

mat-icon{
  color: #D10404;
}

h1{
  margin-left: 50px;
  margin-top: 50px;
  color: #12394F;
}
